body {
  padding: 40px;
  background-color: #e8f0ff;
  font: "Lucida Grande", sans-serif;
  
}

h1 {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
}

h2 { 
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

.inner-box {
  padding: 30px;
  background-color: #ffffff;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #1f2a3f;
  box-shadow: 0px 0px 20px #3b5077;
  
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 20px;
}

.main-button {
  -webkit-transition-duration: 0.25s; /* Safari */
  -moz-transition-duration: 0.25s; /* Firefox */
  transition-duration: 0.25s;
  
  background-color: #e8f0ff;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 16px;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.main-button:hover {
  background-color: #142b56;
  color: white; /* text color */
}