<!doctype html>
<html ng-app="myApp"> 
    
    <!-- for sierra: new IP for this is http://3.17.109.57:8080 --> 
    
<head>
    <title>CP6: CoolChat - Home</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</head>
        
<body>  
    <div class="inner-box">
        <div ng-controller="myController">
            <h1 id="mainTitle">Welcome to CoolChat </h1>
            
            <p id="usernameText">Logged in as:  <%= username %> </p> <!-- it gets these vars from the index.js - I vote that we don't use EJS because it's super confusing-->
            <a id="logoutLink" href="/logout">Log Out</a>
        </div>
        <hr>
        <span id="indexMsg">
            <%= msg %> 
        </span>
        <hr>
        <span id="colorText">
        Favorite Color: 
            <%= color %>
          </span>
    </div>
</body>
      
</html>