<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="inner-box">
        <div class="form-container">
            <h1>Log In</h1>
            <form method="POST" action="/login">
                <label>Username:</label>
                <input type="text" id="username" name="username"><br>
                <label>Password:</label>
                <input type="password" id="password" name="password">
                <br>
                <br>
                <input class="main-button" type="submit" id="login" value="Login">
            </form>
        </div>
        <br>
        <a id="signUpLink" href="/signup">Sign Up</a>
        <hr>
        <br>
        <span id="loginMsg" style="font-weight:bold">
        <%= msg %>
        </span>
    </div>
</body>
        
</html>