<!doctype html>
<html>
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600" rel="stylesheet">
</head>
        
<body>  
    <div class="inner-box">
        <div class="form-container">
            <h1>Sign Up</h1>
            <form method="POST" action="/signup">
                <label>Username:</label>
                <input type="text" id="username" name="username"><br>
                <label>Password:</label>
                <input type="password" id="password" name="password"><br>
                <label>Email:</label>
                <input type="email" id="email" name="email"><br>
                <input type="submit" id="register" value="Register">
            </form>
        </div>
        <hr>
        <span id="signupMsg">
        <%= msg %>
        </span>
    </div>
</body> 

</html>