<!doctype html>
<html>
    
<head>
    <title>CP6: CoolChat - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption" rel="stylesheet">
</head>
        
<body>  
    <div class="inner-box">
        <div class="form-container">
            <h1>Sign Up</h1>
            <form method="POST" action="/signup" style="text-align:center;">
                <label>Username:</label>
                <input type="text" id="username" name="username"><br>
                <label>Password:</label>
                <input type="password" id="password" name="password"><br>
                <label>Email:</label>
                <input type="email" id="email" name="email">
                <br><br>
                <input class="main-button" type="submit" id="register" value="Register">
            </form>
        </div>
        <hr>
        <span id="signupMsg">
        <%= msg %>
        </span>
    </div>
</body> 

</html>